@model PlanoContaModel
@{
    ViewData["Title"] = "Plano de Contas";

    var vDescricao = string.Empty;
    var vTipo = string.Empty;

    try
    {
        vDescricao = @ViewBag.PlanoConta.Descricao;
        vTipo = @ViewBag.PlanoConta.Tipo;
    }
    catch { }
}

<h1>@ViewData["Title"] </h1>

<form asp-controller="PlanoConta" asp-action="CriarPlanoConta">
    <input type="hidden" asp-for="Id">

    <div class="mt-3 mb-3">
        <label for="fname">Descrição:</label><br>
        <input type="text" class="form-control" asp-for="Descricao" value=@vDescricao required>
    </div>

    <div class="mb-3">
        <label for="fname">Tipo:</label><br>
        <input type="text" class="form-control" asp-for="Tipo" value=@vTipo required>
    </div>

    <div>
        <button type="submit" class="btn btn-primary text-capitalize mb-3">Registrar</button>
        <button type="button" class="btn btn-secondary text-capitalize mb-3" onclick="Cancelar()">Cancelar</button>
    </div>

</form>

<script>
    function Cancelar() {
        window.location.href = "../"
    }
</script>
